{
    servers {
        name microstorm.local
        enable_full_duplex
    }
    frankenphp {
        php_ini {
            memory_limit 2560M
            max_execution_time 15
        }
    }
    local_certs
}
https:// {
    encode zstd br gzip
    rewrite * /worker.php?request={path}&{query}.replace('?','&')
    php_server {
        root /Application/Public
        worker worker.php 2
        try_files {path} index.php
    }
}
https:// {
    encode zstd br gzip
    rewrite * /worker.php?request={path}&{query}.replace('?','&')
    php_server {
	    root /Application/Public
	    worker worker.php 2
        try_files {path} index.php
    }
}