{
    frankenphp {
        php_ini {
            memory_limit 2560M
            max_execution_time 15
        }
    }
}
localhost {
    rewrite * /worker.php?request={path}&{query}
    php_server {
        root /Application/Public
        worker worker.php 4
        try_files {path} index.php
    }
}