<!DOCTYPE html>
<html lang="__LANGUAGE__">
<head>
    <meta name="author" content="__AUTHOR__">
    <meta http-equiv="content-type" content="__CONTENT_TYPE__">
    <meta http-equiv="X-UA-Compatible" content="__COMPATIBILITY__">
    <meta name="viewport" content="__VIEWPORT__">
    <title>__TITLE__</title>
    <meta name="revisit-after" content="__REVISIT_AFTER__">
    <meta name="rating" content="__RATING__">
    <meta name="distribution" content="__DISTRIBUTION__">
    <meta name="keywords" content="__KEYWORDS__">
    <meta name="description" content="__DESCRIPTION__">
    <link rel="shortcut icon" href="__FAVICON__">
    __SCRIPT__
    __LINK__
</head>
<body>
__BODY__
</body>
</html>